* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'rubik', sans-serif;
    list-style: none;
    text-decoration: none;

}

:root {
    --bg-color: #1f1f21;
    --text-color: #fff;
    --main-color: #ffae00;
    --big-font: 7rem;
    --p-font: 1.1rem;


}
/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
body{
  height: 100vh;
  
} */
body{
background-color  : #1f1f21;
}
.container {
background-color  : #1f1f21;
    color:#fff;
    
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.navbar {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    
    transition: all ease .45s;

}

.logo {
    color:#fff;
    font-size: 41px;
    font-weight: 600;
}

.logo span {
    color:#ffae00;
}

.navbar1 {
    display: flex;
}

.links a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all ease .50;
    margin: 0 25px;

}

.links a:hover {
    color:#ffae00;
}

.links a.active {
    color:#ffae00;
}

.main {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 88vh;
  margin-top: 100px;
  

}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
    float: left;
    padding-bottom: 0px;
  
    
  
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
 
  width: 50%;
  height:100% ;
  
}

.assignmentlist {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 92vh;
 background-color: transparent;
  
  
}

.assignment a {
    text-decoration: none;
    color: #ffae00;
    padding: 25px;
    font-size: xx-large;


}


.html  {

    width: 49%;
    height: auto;

margin: 50px auto 0px auto;

}
.css{
  width: 49%;
  height: 20%;
  margin: 100px auto 0px auto;

}
.js{
  width: 49%;
  height: 20%;
  margin: 240px auto 0px auto;
}


fieldset a {
    text-decoration: none;
    color: white;
    font-size: medium;
    font-family: 'Bakbak One', cursive;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 20px;
    margin: 10px 15px 10px 15px;
    padding: 3%;
    border-radius: 5px;
    position: relative;
    float: left;
    box-shadow: rgb(1, 160, 252) 0px 20px 15px -20px;
   
}



legend {
    margin-left: 20px;
    color: #ffae00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: #fff 0px 5px 5px 5px;
   
}
.top{
    position: fixed;
    bottom: 10px;
    right: 15px;
    
    background-color: #ffae00;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:center ;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: #050303;
}
.top i{
    text-decoration: none;
    color: #050303;
    padding-right: 0px;
   
}
.top:hover i{
    background-color: #383528;
    color: #f3f2ee;
    font-size: larger;
}
.top:hover{
    background-color: #383528;
    color: #f3f2ee;

}

.html1:hover{
    background-image: url(./images/html1.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;

}
.html2:hover{
    background-image: url(./images/html2.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
  
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.html3:hover{
    background-image: url(./images/html3.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.html3a:hover{
    background-image: url(./images/html3.1.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.html4:hover{
    background-image: url(./images/html4.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.html5:hover{
    background-image: url(./images/html5.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.html6:hover{
    background-image: url(./images/html6.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.html6a:hover{
    background-image: url(./images/html6.1.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.html7:hover{
    background-image: url(./images/html7.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.html8:hover{
    background-image: url(./images/html8.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.html9:hover{
    background-image: url(./images/html9.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.html9a:hover{
    background-image: url(./images/html9.1.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.css1:hover{
    background-image: url(./images/css1.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.css2:hover{
    background-image: url(./images/css2.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.css3:hover{
    background-image: url(./images/css3.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.css4:hover{
    background-image: url(./images/css4.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.css5:hover{
    background-image: url(./images/css5.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.css6:hover{
    background-image: url(./images/css6.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.css7:hover{
    background-image: url(./images/css7.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.css8:hover{
    background-image: url(./images/css8.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.css9:hover{
    background-image: url(./images/css9.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.css10:hover{
    background-image: url(./images/css10.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: fit-content;
    height: 250px;
    border-left: 10px solid red;
    border-right: 10px solid red;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 1s;
  font-size: xx-large;
  color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.css11:hover{
  background-image: url(./images/css11.png);
  background-size:contain;
  background-repeat: no-repeat;
  width: fit-content;
  height: 250px;
  border-left: 10px solid red;
  border-right: 10px solid red;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: all 1s;
font-size: xx-large;
color: transparent;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
}

.css12:hover{
  background-image: url(./images/css12.png);
  background-size:contain;
  background-repeat: no-repeat;
  width: fit-content;
  height: 250px;
  border-left: 10px solid red;
  border-right: 10px solid red;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: all 1s;
font-size: xx-large;
color: transparent;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
}
.css13:hover {
  background-image: url(./images/css13.png);
  background-size:contain;
  background-repeat: no-repeat;
  width: fit-content;
  height: 250px;
  border-left: 10px solid red;
  border-right: 10px solid red;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: all 1s;
font-size: xx-large;
color: transparent;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
}
.css14:hover{
  background-image: url(./images/css14.png);
  background-size:contain;
  background-repeat: no-repeat;
  width: fit-content;
  height: 250px;
  border-left: 10px solid red;
  border-right: 10px solid red;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: all 1s;
font-size: xx-large;
color: transparent;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
}
.js1:hover{
  background-image: url();
  background-size:contain;
  background-repeat: no-repeat;
  width: fit-content;
  height: 250px;
  border-left: 10px solid red;
  border-right: 10px solid red;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: all 1s;
font-size: xx-large;
color: transparent;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
}
.introduction{
 
  width: 70vw;
  height: 50vh;
 display: block;
 margin: 500px auto 100px auto;
  text-align: left;
 
  background-color: #1f1f21;
  color: white;

}
h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: #ffae00;
}
.contact-box{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
  height:50px;
  width: 500px;
  margin-top: 200px;
  margin-bottom: 300px;
  margin: 300px auto 300px auto;
 border: 2px solid #ffae00;
  background-color: transparent;
  border-radius: 15px;

}
.fa-ul a{
  padding: 0px 15px 0px 15px;
  height: 25px;
  font-size: xx-large;
  color: #FFAE00;
  box-sizing: border-box;

 
}
.fa-ul a :hover{
 font-size: 50px;
padding: 0px 20px 0px 20px;
 
}

