body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container-fluid{
    max-width: 100vh;
}
.container{
    max-width: 50vh;
    background-color: #264653;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    color: white;
}

.form-label {
    font-weight: bold;
}

.result-section {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #264653;
}

.result-section p {
    margin: 5px 0;
}

h2 {
    text-align: center;
}

#resultSection {
    display: none;
}